<div class="container mt-5">
  <h2>Routing Assignment!</h2>
  <nav class="nav nav-tabs">
    <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/product" routerLinkActive="active">Product</a>
    <!-- Use the 'contact-inactive' class for the 'Contact' tab -->
    <a class="nav-item nav-link contact-inactive" routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
  <router-outlet></router-outlet>
</div>